html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f5f5f5;
    color:#333;
    line-height: 1.6 ;
}
.conteiner{
    max-width: 800px;
    margin: 0;
    padding: 1rem;

}
.text-center{
    
    text-align: center;
}
ul{
   margin-left: 200px;
}